# ---------------------------------------------------
# Build Artifacts & CMake
# ---------------------------------------------------
build/
bin/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.cmake

# ---------------------------------------------------
# Compiled Object Files & Executables
# ---------------------------------------------------
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.out
*.exe
*.app

# ---------------------------------------------------
# IDE & OS Files
# ---------------------------------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db
